body{
    background-color: #e6e7eb;
    margin:0;
    font-family: Arial;
}

.cor-principal{
    color: #F5F5F5;
    background-color: #6E32A6;
    font-size: 30px;
    
    
}

h1{
    margin:0;
    margin-bottom: 30px;
}

.Submenus{
    font-size:20px;
}

.centralizar{
    text-align: center;
}

div{
    margin-left: 15px;
}

.button-space{
    margin-right: 40px;
}

button{
    background-color: #F5F5F5;
    border:none;
    border-radius: 50px;
    padding: 20px;
    
}

.input-text{
    width: 500px;
}

.input-short{
    width: 70px;
}
 
input{
    border:none;
    border-radius: 10px;
}
 
p{
    border:none;
    

}
